.home {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #dfe5eb;
    padding-top: 20px;

    &__center {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    &__left {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    &__right {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    @media screen and (max-width: 1279px) {
        &__left {
           display: none;
        }
        &__right {
            display: none
        }
    }
    
}
