.nav {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 8px 0;
    max-width: 80%;
    margin: 0 auto;
    align-items: center;
    &__logo {
        img {
            float: left;
            margin-right: 35px;
            padding-top: 3px;
            margin-top: 3px;
            width: 120px !important;
            position: relative !important;
            top: -5px !important;
        }
    }
    &__search {
        // height: 35px;
        width: 230px;
        input {
            padding: 9.5px 14px !important;
        }
    }
    &__page {
        display: flex;
        gap: 20px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #2b2b2b;
    }
    &__icon {
        color: #2b2b2b;
    }
    &__text {
        font-weight: 600;
    }

    &__menu {
        display: none;
    }

    @media screen and (max-width: 767px) {
       &__page {
        display: none;
       }
       &__menu {
        display: block;
        margin: 5px;
       }
    }
}
