.nav {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 8px 0;
    max-width: 80%;
    margin: 0 auto;
    align-items: center;
    &__logo {
        img {
            float: left;
            margin-right: 35px;
            padding-top: 3px;
            margin-top: 3px;
            width: 120px !important;
            position: relative !important;
            top: -5px !important;
        }
        cursor: pointer;
    }
    &__search {
        // height: 35px;
        width: 230px;
        input {
            padding: 9.5px 14px !important;
        }
    }
    &__page {
        display: flex;
        gap: 20px;
    }
    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #2b2b2b;
        &:hover {
            cursor: pointer;
        }
    }
    &__icon {
        color: #2b2b2b;
    }
    &__text {
        font-weight: 600;
        &:hover {
            border-bottom: 3px solid;
        }
    }

    &__menu {
        display: none;
    }
    .active {
        border-bottom: 3px solid;
    }

    // login page
    &__auth {
        display: flex;
        align-items: center;
        gap: 10px;
        .active {
            background-color: #f05050;
            color: white;
        }
    }
    &__login,
    &__signUp {
        padding: 5px 10px;
        padding: 5px 10px;
        border-radius: 20px;
        border: 1px solid #dfe0e8;
        background-color: #f0f0f0;
        cursor: pointer;
        font-weight: 500;
    }

    &__popup {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: white;
        transform: translateY(100%);
        width: 400px;
        height: 270px;
        z-index: 10;
        &-header {
            font-weight: bold;
            background-color: #f5f7fa;
            padding: 10px;
            border-bottom: 1px solid rgb(223, 223, 223);
        }
        &-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            border-bottom: 1px solid rgb(235, 233, 233);
        }
        &-left {
            display: flex;
            align-items: center;
            gap: 5px;
            img {
                width: 40px;
                height: 40px;
            }
            div {
                font-weight: bold;
            }
        }
        &-time {
            font-size: 12px;
            color: #8c8c8c;
            margin-top: 5px;
        }
    }
    &__logout {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: white;
        transform: translateY(100%);
        width: 100px;
        div {
            padding: 5px 10px;
            border-bottom: 1px solid #8c8c8c;
        }
    }

    @media screen and (max-width: 767px) {
        &__page {
            display: none;
        }
        &__menu {
            display: block;
            margin: 5px;
        }
    }
}
