.in4 {
    width: 555px;
    border-radius: 5px;
    background-color: white;
    padding-bottom: 10px;
    &__heading {

        font-weight: bold;
        background-color: #f5f7fa;
        padding: 10px;
        border-bottom: 1px solid rgb(223, 223, 223);
    }
    &__text1 {
        color: #2c2e2f;
        font-size: 14px;
        font-weight: 500;
        padding: 10px;
    }
}
