.courseAll {
    padding-top: 20px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1150px;
    margin: 0 auto;
    &__image {
    }
    &__heading {
        font-weight: bold;
        font-size: 20px;
    }
    &__cate {
        display: flex;
        gap: 10px;

        &-item {
            padding: 5px 10px;
            border-radius: 20px;
            border: 1px solid #dfe0e8;
            background-color: #f0f0f0;
            cursor: pointer;
        }
        .active {
            background-color: #f05050;
            color: white;
        }
    }
    &__search {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: 10px;
        &-left {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        &-right {
            width: 30%;
            display: flex;
            align-items: center;
        }
    }
    &__filter {
        display: flex;
        // height: 35px;
        width: 100%;
        input {
            height: 100% !important;
            padding: 9.5px 14px !important;
            width: 100% !important;
        }
        &-icon {
            border-top-left-radius: 12px;
            border-bottom-left-radius: 12px;
            background-color: #4b4b4b;
            width: 100px;
            color: white;
            font-size: 12px;
            display: flex;
            justify-content: center;
            & > div {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }

            &:hover {
                cursor: pointer;
                color: crimson;
            }
        }
    }
    &__listing {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
    border-radius: 0 !important;
    width: 100% !important;
    background-color: white !important;
    border-top-right-radius: 12px !important;
    border-bottom-right-radius: 12px !important;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    background-color: white !important;
}
