.hero {
    img {
        width: 555px;
        height: 170px;
        border-radius: 5px;
    }
    
    @media screen and (max-width: 767px) {
        img {
            width: 100%
        }
     }
}