.enroll {
    width: 555px;
    border-radius: 5px;
    background-color: white;
    padding-bottom: 10px;
    &__top {
        position: relative;
        img {
            width: 100%;
        }
    }
    &__book {
        position: absolute;
        right: 10px;
        top: 10px;
        color: white;
        cursor: pointer;
    }
    &__star {
        img {
            width: 14px;
            height: 14px;
        }
    }
    &__center {
        display: flex;
        align-items: center;
    }
    &__left {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }
    &__text1 {
        width: 100%;
        font-size: 16px;
        color: #2c2e2f;
        padding: 0 0 10px;
        word-break: break-all;
        font-weight: 500;
    }
    &__text2 {
        color: #2c2e2f;
        width: 100%;
        font-weight: 400;
        font-size: 14px;
        opacity: 0.7;
        float: left;
        cursor: default;
        line-height: 18px;
    }
    &__star {
        display: flex;
        align-items: center;
        gap: 5px;
    }
    &__right {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }
    &__free {
        font-size: 16px;
        line-height: 22px;
        color: #000;
        font-weight: 400;
    }
    &__now {
        color: #fff;
        border-radius: 30px;
        box-shadow: 0 1px 4.9px 0.1px rgb(51 51 51 / 30%);
        background-color: #f05050 !important;
        border: none;

        position: relative;
        line-height: 36px;
        padding: 5px 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__cate {
        padding: 10px;

        &-item {
            padding: 5px;
            display: inline-block;
            border-radius: 20px;
            background-color: aliceblue;
            font-size: 12px;
            font-weight: 500;
            color: #8c8c8c;
        }
    }
}
